@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
}

.selected {
  @apply text-pink-600;
}
